/* Navigation */
.navigation-menu ul{
    background: rgb(235, 238, 232);
    display: flex;
    padding:1em;
}
.navigation-menu ul >li{
list-style:none;
margin-left:2em; 
}
*{
    box-sizing: border-box;
}
@media screen and (max-width:600px){
    .navigation-menu ul{
        visibility:hidden;
    }
}