@import url('https://fonts.googleapis.com/css?family=Rozha+One&display=swap');
* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Rozha One', serif;
}

/*Navigation menu */

.navbar-flex {
    display: flex;
    text-align: center;
    justify-content: center;
}

.navbar-flex>li {
    padding: 10px;
    text-align: center;
    font-size: 1em;
    list-style-type: none;
}

#hamburger-menu {
    visibility: hidden;
}

@media screen and (max-width:600px) {
    .navbar-flex {
        flex-wrap: wrap;
    }
    .navbar-flex{
        display: none;

    }
    .navbar-flex>li {
        flex: 1 1 100%;
    }
    #hamburger-menu {
        visibility: visible;
    }
    .image-album {
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
    }
}

/*hero image*/

.hero-image {
    height: 50vh;
    background-image: url("https://images.unsplash.com/photo-1559555939-3cc959c0fe13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 21vh;
    font-size: 1rem;
    /* padding-bottom:1em; */
    color: white;
    display: block;
    max-width: 100%;
}

/* heading */

.underline {
    position: relative;
    margin: auto;
    width: 30%;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    background: coral;
}

/**Image-album**/

.image-album {
    margin: 1em;
}

.heading {
    text-align: center;
    margin: 1em;
}

/* image album */

.image-album {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    row-gap: 0em;
}

.image-album>div>img {
    width: 100%;
    height: auto;
    outline: none;
    object-fit: cover;
}

.overlay-text {
    display: none;
}

.image-album>div:hover {
    opacity: 0.5;
}

.image-album>div:hover .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 99;
    display: block;
}

.call-to-action{
    background-color: royalblue;
}
.buttons-area{
    display: flex;
    margin: auto;
}
.cta-button > button{
    border-radius: 3%;
    background: red;
}